@font-face {
  font-family:'Aarvark-Cafe';
  src:url('assets/Aarvark-Cafe.ttf.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Prestige Elite Std Bold';
  src: url('assets/PrestigeEliteStd-Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'Futura Std Bold';
  font-style: normal;
  font-weight: normal;
  src:url('assets/FuturaStdBold.woff') format('woff');
  }
  @font-face {
    font-family: 'Romela', sans-serif;
    src:url('http://fonts.cdnfonts.com/css/romela');
    }

* {
  margin: 0;
  box-sizing: border-box;
}    
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Aarvark-Cafe', 'Prestige Elite Std Bold', 'Futura Std Bold', 'Romela' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:"#f2eaf2";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo { 
  font-family:'Aarvark-Cafe';
}  

.font{
  font-family: 'Romela';
}

h2{
  font-family: 'Romela';
}

h3{
  font-family: 'Futura Std Bold';
}
.redes{
  background-color: "#3b1a5e";
}
header{
  background-color: "#3b1a5e";
}
/*.fondo{
  background-image: url("./img/quiromasaje-1024x455.png");
}*/

/*nav{
  background: linear-gradient(180deg,#f2eaf2 50%, #3b1a5e 50%);
}*/
