@font-face {
  font-family:'Aarvark-Cafe';
  src:url('assets/Aarvark-Cafe.ttf.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Prestige Elite Std Bold';
  src: url('assets/PrestigeEliteStd-Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'Futura Std Bold';
  font-style: normal;
  font-weight: normal;
  src:url('assets/FuturaStdBold.woff') format('woff');
  }
  @font-face {
    font-family: 'Romela', sans-serif;
    src:url('http://fonts.cdnfonts.com/css/romela');
  }
  @font-face {font-family: "Untitled Sans Regular";
    src: url('assets/Untitled Sans Regular.woff'); 
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Untitled Sans Regular', 'Aarvark-Cafe', 'Prestige Elite Std Bold', 'Futura Std Bold', 'Romela', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:'#f2eaf2';
  min-height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.texto1{
  font-family:'Untitled Sans Regular';
}

.logo { 
  font-family:'Aarvark-Cafe';
}  

.texto2{
  font-family: 'Romela';
}

h2{
  font-family: 'Romela';
}

h3{
  font-family: 'Futura Std Bold';
}
.redes{
  background-color: '#3b1a5e';
}
header{
  background-color: '#3b1a5e';
}
.hero-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 100px);
}
/*nav{
  background-image: url("./img/Lienzo-top.png");
  background-repeat: no-repeat;
}*/
/*.fondo{
  background-image: url("./img/quiromasaje-1024x455.png");
}*/

/*nav{
  background: linear-gradient(180deg,#f2eaf2 50%, #3b1a5e 50%);
}*/
